/* @import "tailwindcss"; */
@import "@blog-starter/tailwind-config/web";

html {
  font-family: "Roboto", sans-serif;
  font-display: swap;
}

/* Drag Handle Styles */
[data-drag-handle] {
  opacity: 0;
  transition: opacity 0.2s;
  cursor: grab;
}

[data-drag-handle]:active {
  cursor: grabbing;
}

.ProseMirror:hover [data-drag-handle],
.ProseMirror [data-drag-handle]:hover {
  opacity: 1;
}