@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@layer theme, base, components, utilities;

@import "./web/styles/theme.css" layer(theme);
@import "./web/styles/preflight.css" layer(base);
@import "./web/styles/components.css" layer(components);
@import "./web/styles/utilities.css" layer(utilities);

